# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# IDE/editor folders
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Build/output folders
dist/
build/
coverage/


utils/package-lock.json
utils/package.json
